<h1>Weekly Planner!</h1>

<h2>Tasks that Are to be Completed!</h2>

<ul>
  {{#each planner}}
    {{#unless this.done}}
      <li>
        {{this.task-name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="done" value="true">
          <button type="submit">Task Complete!</button>
        </form>

        {{> planner/delete-planner}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Completed tasks!</h2>

<ul>
  {{#each planner}}
    {{#if this.done}}
      <li>
        {{this.task-name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="complete" value="false">
          <button type="submit">Incomplete!</button>
        </form>

        {{> planner/delete-planner}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Task</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Task Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Completed?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Complete!<br>
    <input type="radio" name="sleepy" value="0"> Completed
  </div>

  <button type="submit">Add a Task</button>
</form>